/* obecne odkazy --------------------------------------------------------------- */

/* nadpisy --------------------------------------------------------------------- */

/* layout ---------------------------------------------------------------------- */
#layout {
  text-align:right;
}

/* hlavicka ------------------------------------------------------------------ */

#logo a {
  border-right: 8px solid #b41818;
  border-left: none;
}

#navigation {
  right: 270px;
  text-align: left;
  right: auto;
}

/* The nice box with introducing text and news */
/* set millions of background images */

.rbtop div {
  background: url('../img/tl.gif') no-repeat top right;
}

.rbtop {
  background: url('../img/tr.gif') no-repeat top left;
}

.rbbot div {
  background: url('../img/bl.gif') no-repeat bottom right;
}

.rbbot {
  background: url('../img/br.gif') no-repeat bottom left;
}

/* height and width stuff, width not really nessisary. */

.content {
  float: right;
  padding: 12px 10px 12px 0;
}

#panel-left {
  float:left;
}

#panel-left-inside {
  border-right: 1px solid #ca4747;
  padding: 0 16px 0 0;
  border-left: none;
}

#footer-inside {
  text-align:right;
}

#copyleft {
  float: right;
}

#dont-delete-this {
  margin: 0 323px 0 0;
  text-align: left;
}

/* odstavce -------------------------------------------------------------------- */

/* tabulky --------------------------------------------------------------------- */

/* seznamy --------------------------------------------------------------------- */
ul, ol {
  margin:15px 40px 15px 0;
}

ul ul, ul ul ul, ol ol, ol ol ol {
  margin-right:20px;
  margin-left: auto;
}

/* definice -------------------------------------------------------------------- */

dd {
  margin-right:30px;
  margin-left: auto;
}

/* ostatni --------------------------------------------------------------------- */

legend {
  margin-right:10px;
  margin-left: auto;
}
